.iconWrapper {
  display: flex;
  height: 12px;
  width: 12px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: #Fff;
  margin-left: 8px;
}

.listIconContainer {
  display: flex;
}

.currencyListHeader {
  display: flex;
  margin: 16px;
  justify-content: space-between;
  align-items: center
};